* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        background-image: url(./img/Vector.png);
        background-repeat: no-repeat;
        padding: 10px 50px;
        border:1px solid gray;
        border-radius: 15px;  
    }
    
}
.button {
    background-color: white;
    border: none;
   display: flex;
   gap: 10px;
   cursor: pointer;
}
.button1 {
    border: none;
    border-radius: 10px;
    color: blue;
    background-color: aqua;
    padding: 5px 10px;
    cursor: pointer;
}
.container {
}
.hero__wrapper {
   display: flex;
   gap: 25px;
   align-items: center;
   margin-top: 30px;
}
.hero__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding: 50px 50px;
    border-radius: 20px;
   box-shadow:0 0 10px 0;
}
.hero__contact1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero__price {
    display: flex;
    gap: 15px;
    p {
        color: gray;
    }
}
.hero__price1 {
  
}
.hero__price2 {
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
   gap: 15px;
}
.card1 {
}
.card2 {
}
.card3 {
}
.hero__button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.button2 {
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 20px; 
    padding: 20px;  
    cursor: pointer; 
}
.button3 {
    color: blue;
    background-color: #fff;
    border: none;
  cursor: pointer;
    padding:20px;
}
.live {
margin: 90px 0;
}
.container {
}
.live__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.live__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;
}
.live__card {
    display: flex;
    flex-direction: column;
    // min-height: 415px;
}
.live__card-img {
    width: 100%;
}
.live__card-box {
    border: 2px solid gray;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 20px 20px;
    height: 100%;

    display: flex;
    flex-direction: column;
    h3 {
        margin-bottom: 20px;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: #8e8e93;
      margin-top: auto;
    }
    b {
        color: black;
    }
}
.footer__container {
    background-color: black;
    color: white;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1990px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
   padding-bottom: 30px;
    max-width: 1290px;
    margin: 0 auto;
    button {
        background-color: black;
        color: gray;
        border: none;
        cursor: pointer;
    }
  
}
.footer__content {
display: flex;
align-items: start;
flex-direction: column;
gap: 5px;
}
.footer__content1 {
display: flex;
align-items: start;
flex-direction: column;
gap: 5px;
}
.footer__content2 {
display: flex;
align-items: start;
flex-direction: column;
gap: 5px;
}
.footer_contact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer__content3 {
    display: flex;
    gap: 10px;
    button {
        background-color: black;
        color: gray;
        border: none;
        cursor: pointer;
    }
}


@media (max-width:678px) {
    .footer__content1 {
        display: none;
    }
    .footer__content2 {
        display: none;
    }
}
@media (max-width:428px) {
    .footer__content3 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer_contact {
        display: flex;
        flex-direction: column;
    }
    
}